service-stubs/org.wso2.carbon.event.simulator.stub/src/main/resources/EventSimulatorAdminService.wsdl

<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://admin.simulator.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2102="http://admin.simulator.event.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://admin.simulator.event.carbon.wso2.org">
    <wsdl:documentation>EventSimulatorAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.simulator.event.carbon.wso2.org/xsd">
            <xs:complexType name="EventDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeValues" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventStreamId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UploadedFileItemDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CSVFileInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="delayBetweenEventsInMilies" type="xs:long"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamID" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StreamDefinitionInfoDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationAttributes" nillable="true" type="ax2102:StreamAttributeDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="metaAttributes" nillable="true" type="ax2102:StreamAttributeDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadAttributes" nillable="true" type="ax2102:StreamAttributeDto"/>
                    <xs:element minOccurs="0" name="streamDefinition" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamVersion" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StreamAttributeDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DataSourceTableAndStreamInfoDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columnNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="configurationName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataSourceName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="delayBetweenEventsInMilies" type="xs:long"/>
                    <xs:element minOccurs="0" name="eventStreamID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="streamAtrributeNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2103="http://admin.simulator.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.simulator.event.carbon.wso2.org">
            <xs:import namespace="http://admin.simulator.event.carbon.wso2.org/xsd"/>
            <xs:element name="sendEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventDto" nillable="true" type="ax2103:EventDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendEventResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileItems" nillable="true" type="ax2103:UploadedFileItemDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCSVFileInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCSVFileInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2103:CSVFileInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteDBConfigFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteDBConfigFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendConfigDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="separateChar" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="delayBetweenEventsInMilies" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventStreamInfoDto">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventStreamInfoDtoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2103:StreamDefinitionInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendEventsViaFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendEventsViaFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendDBConfigFileNameToSimulate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendDBConfigFileNameToSimulateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testSimulateRDBMSDataSourceConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventStreamDataSourceColumnNamesAndTypeInfo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testSimulateRDBMSDataSourceConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveDataSourceConfigDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dataSourceConfigAndEventStreamInfo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveDataSourceConfigDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDataSourceTableAndStreamInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDataSourceTableAndStreamInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2103:DataSourceTableAndStreamInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllCSVFileInfoRequest">
        <wsdl:part name="parameters" element="ns:getAllCSVFileInfo"/>
    </wsdl:message>
    <wsdl:message name="getAllCSVFileInfoResponse">
        <wsdl:part name="parameters" element="ns:getAllCSVFileInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="sendEventsViaFileRequest">
        <wsdl:part name="parameters" element="ns:sendEventsViaFile"/>
    </wsdl:message>
    <wsdl:message name="sendEventsViaFileResponse">
        <wsdl:part name="parameters" element="ns:sendEventsViaFileResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllEventStreamInfoDtoRequest">
        <wsdl:part name="parameters" element="ns:getAllEventStreamInfoDto"/>
    </wsdl:message>
    <wsdl:message name="getAllEventStreamInfoDtoResponse">
        <wsdl:part name="parameters" element="ns:getAllEventStreamInfoDtoResponse"/>
    </wsdl:message>
    <wsdl:message name="saveDataSourceConfigDetailsRequest">
        <wsdl:part name="parameters" element="ns:saveDataSourceConfigDetails"/>
    </wsdl:message>
    <wsdl:message name="saveDataSourceConfigDetailsResponse">
        <wsdl:part name="parameters" element="ns:saveDataSourceConfigDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteFileRequest">
        <wsdl:part name="parameters" element="ns:deleteFile"/>
    </wsdl:message>
    <wsdl:message name="deleteFileResponse">
        <wsdl:part name="parameters" element="ns:deleteFileResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteDBConfigFileRequest">
        <wsdl:part name="parameters" element="ns:deleteDBConfigFile"/>
    </wsdl:message>
    <wsdl:message name="deleteDBConfigFileResponse">
        <wsdl:part name="parameters" element="ns:deleteDBConfigFileResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllDataSourceTableAndStreamInfoRequest">
        <wsdl:part name="parameters" element="ns:getAllDataSourceTableAndStreamInfo"/>
    </wsdl:message>
    <wsdl:message name="getAllDataSourceTableAndStreamInfoResponse">
        <wsdl:part name="parameters" element="ns:getAllDataSourceTableAndStreamInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="testSimulateRDBMSDataSourceConnectionRequest">
        <wsdl:part name="parameters" element="ns:testSimulateRDBMSDataSourceConnection"/>
    </wsdl:message>
    <wsdl:message name="testSimulateRDBMSDataSourceConnectionResponse">
        <wsdl:part name="parameters" element="ns:testSimulateRDBMSDataSourceConnectionResponse"/>
    </wsdl:message>
    <wsdl:message name="sendConfigDetailsRequest">
        <wsdl:part name="parameters" element="ns:sendConfigDetails"/>
    </wsdl:message>
    <wsdl:message name="sendConfigDetailsResponse"/>
    <wsdl:message name="uploadServiceRequest">
        <wsdl:part name="parameters" element="ns:uploadService"/>
    </wsdl:message>
    <wsdl:message name="uploadServiceResponse">
        <wsdl:part name="parameters" element="ns:uploadServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="sendDBConfigFileNameToSimulateRequest">
        <wsdl:part name="parameters" element="ns:sendDBConfigFileNameToSimulate"/>
    </wsdl:message>
    <wsdl:message name="sendDBConfigFileNameToSimulateResponse">
        <wsdl:part name="parameters" element="ns:sendDBConfigFileNameToSimulateResponse"/>
    </wsdl:message>
    <wsdl:message name="sendEventRequest">
        <wsdl:part name="parameters" element="ns:sendEvent"/>
    </wsdl:message>
    <wsdl:message name="sendEventResponse">
        <wsdl:part name="parameters" element="ns:sendEventResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventSimulatorAdminServicePortType">
        <wsdl:operation name="getAllCSVFileInfo">
            <wsdl:input message="ns:getAllCSVFileInfoRequest" wsaw:Action="urn:getAllCSVFileInfo"/>
            <wsdl:output message="ns:getAllCSVFileInfoResponse" wsaw:Action="urn:getAllCSVFileInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendEventsViaFile">
            <wsdl:input message="ns:sendEventsViaFileRequest" wsaw:Action="urn:sendEventsViaFile"/>
            <wsdl:output message="ns:sendEventsViaFileResponse" wsaw:Action="urn:sendEventsViaFileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <wsdl:input message="ns:getAllEventStreamInfoDtoRequest" wsaw:Action="urn:getAllEventStreamInfoDto"/>
            <wsdl:output message="ns:getAllEventStreamInfoDtoResponse" wsaw:Action="urn:getAllEventStreamInfoDtoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveDataSourceConfigDetails">
            <wsdl:input message="ns:saveDataSourceConfigDetailsRequest" wsaw:Action="urn:saveDataSourceConfigDetails"/>
            <wsdl:output message="ns:saveDataSourceConfigDetailsResponse" wsaw:Action="urn:saveDataSourceConfigDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteFile">
            <wsdl:input message="ns:deleteFileRequest" wsaw:Action="urn:deleteFile"/>
            <wsdl:output message="ns:deleteFileResponse" wsaw:Action="urn:deleteFileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteDBConfigFile">
            <wsdl:input message="ns:deleteDBConfigFileRequest" wsaw:Action="urn:deleteDBConfigFile"/>
            <wsdl:output message="ns:deleteDBConfigFileResponse" wsaw:Action="urn:deleteDBConfigFileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllDataSourceTableAndStreamInfo">
            <wsdl:input message="ns:getAllDataSourceTableAndStreamInfoRequest" wsaw:Action="urn:getAllDataSourceTableAndStreamInfo"/>
            <wsdl:output message="ns:getAllDataSourceTableAndStreamInfoResponse" wsaw:Action="urn:getAllDataSourceTableAndStreamInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="testSimulateRDBMSDataSourceConnection">
            <wsdl:input message="ns:testSimulateRDBMSDataSourceConnectionRequest" wsaw:Action="urn:testSimulateRDBMSDataSourceConnection"/>
            <wsdl:output message="ns:testSimulateRDBMSDataSourceConnectionResponse" wsaw:Action="urn:testSimulateRDBMSDataSourceConnectionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendConfigDetails">
            <wsdl:input message="ns:sendConfigDetailsRequest" wsaw:Action="urn:sendConfigDetails"/>
            <wsdl:output message="ns:sendConfigDetailsResponse" wsaw:Action="urn:sendConfigDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <wsdl:input message="ns:uploadServiceRequest" wsaw:Action="urn:uploadService"/>
            <wsdl:output message="ns:uploadServiceResponse" wsaw:Action="urn:uploadServiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendDBConfigFileNameToSimulate">
            <wsdl:input message="ns:sendDBConfigFileNameToSimulateRequest" wsaw:Action="urn:sendDBConfigFileNameToSimulate"/>
            <wsdl:output message="ns:sendDBConfigFileNameToSimulateResponse" wsaw:Action="urn:sendDBConfigFileNameToSimulateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendEvent">
            <wsdl:input message="ns:sendEventRequest" wsaw:Action="urn:sendEvent"/>
            <wsdl:output message="ns:sendEventResponse" wsaw:Action="urn:sendEventResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventSimulatorAdminServiceSoap11Binding" type="ns:EventSimulatorAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllCSVFileInfo">
            <soap:operation soapAction="urn:getAllCSVFileInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendEventsViaFile">
            <soap:operation soapAction="urn:sendEventsViaFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <soap:operation soapAction="urn:getAllEventStreamInfoDto" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDataSourceConfigDetails">
            <soap:operation soapAction="urn:saveDataSourceConfigDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFile">
            <soap:operation soapAction="urn:deleteFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDataSourceTableAndStreamInfo">
            <soap:operation soapAction="urn:getAllDataSourceTableAndStreamInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteDBConfigFile">
            <soap:operation soapAction="urn:deleteDBConfigFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testSimulateRDBMSDataSourceConnection">
            <soap:operation soapAction="urn:testSimulateRDBMSDataSourceConnection" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendConfigDetails">
            <soap:operation soapAction="urn:sendConfigDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <soap:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendDBConfigFileNameToSimulate">
            <soap:operation soapAction="urn:sendDBConfigFileNameToSimulate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendEvent">
            <soap:operation soapAction="urn:sendEvent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventSimulatorAdminServiceSoap12Binding" type="ns:EventSimulatorAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllCSVFileInfo">
            <soap12:operation soapAction="urn:getAllCSVFileInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendEventsViaFile">
            <soap12:operation soapAction="urn:sendEventsViaFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <soap12:operation soapAction="urn:getAllEventStreamInfoDto" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDataSourceConfigDetails">
            <soap12:operation soapAction="urn:saveDataSourceConfigDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFile">
            <soap12:operation soapAction="urn:deleteFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDataSourceTableAndStreamInfo">
            <soap12:operation soapAction="urn:getAllDataSourceTableAndStreamInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteDBConfigFile">
            <soap12:operation soapAction="urn:deleteDBConfigFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testSimulateRDBMSDataSourceConnection">
            <soap12:operation soapAction="urn:testSimulateRDBMSDataSourceConnection" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendConfigDetails">
            <soap12:operation soapAction="urn:sendConfigDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <soap12:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendDBConfigFileNameToSimulate">
            <soap12:operation soapAction="urn:sendDBConfigFileNameToSimulate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendEvent">
            <soap12:operation soapAction="urn:sendEvent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventSimulatorAdminServiceHttpBinding" type="ns:EventSimulatorAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAllCSVFileInfo">
            <http:operation location="getAllCSVFileInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendEventsViaFile">
            <http:operation location="sendEventsViaFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <http:operation location="getAllEventStreamInfoDto"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDataSourceConfigDetails">
            <http:operation location="saveDataSourceConfigDetails"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFile">
            <http:operation location="deleteFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDataSourceTableAndStreamInfo">
            <http:operation location="getAllDataSourceTableAndStreamInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteDBConfigFile">
            <http:operation location="deleteDBConfigFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testSimulateRDBMSDataSourceConnection">
            <http:operation location="testSimulateRDBMSDataSourceConnection"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendConfigDetails">
            <http:operation location="sendConfigDetails"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <http:operation location="uploadService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendDBConfigFileNameToSimulate">
            <http:operation location="sendDBConfigFileNameToSimulate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendEvent">
            <http:operation location="sendEvent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventSimulatorAdminService">
        <wsdl:port name="EventSimulatorAdminServiceHttpsSoap11Endpoint" binding="ns:EventSimulatorAdminServiceSoap11Binding">
            <soap:address location="https://10.100.7.56:9443/services/EventSimulatorAdminService.EventSimulatorAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventSimulatorAdminServiceHttpsSoap12Endpoint" binding="ns:EventSimulatorAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.7.56:9443/services/EventSimulatorAdminService.EventSimulatorAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventSimulatorAdminServiceHttpsEndpoint" binding="ns:EventSimulatorAdminServiceHttpBinding">
            <http:address location="https://10.100.7.56:9443/services/EventSimulatorAdminService.EventSimulatorAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>