service-stubs/org.wso2.carbon.event.builder.stub/src/main/resources/EventBuilderAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://internal.admin.builder.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax292="http://internal.admin.builder.event.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.builder.event.carbon.wso2.org">
    <wsdl:documentation>EventBuilderAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.builder.event.carbon.wso2.org/xsd">
            <xs:complexType name="EventBuilderMessagePropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="propertyType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="secured" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventBuilderConfigurationDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationEventBuilderProperties" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                    <xs:element minOccurs="0" name="customMappingEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="editable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="eventBuilderConfigName" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="eventBuilderMessageProperties" nillable="true" type="ax292:EventBuilderMessagePropertyDto"></xs:element>
                    <xs:element minOccurs="0" name="inputEventAdaptorName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="inputEventAdaptorType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="inputMappingType" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="metaEventBuilderProperties" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                    <xs:element minOccurs="0" name="parentSelectorXpath" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadEventBuilderProperties" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                    <xs:element minOccurs="0" name="statisticsEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="toStreamName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="toStreamVersion" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="traceEnabled" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="xpathDefinitions" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventInputPropertyConfigurationDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="valueOf" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventBuilderConfigurationFileDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deploymentStatusMsg" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventBuilderConfigurationInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="editable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="enableStats" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="inputEventAdaptorName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="inputEventAdaptorType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="inputMappingType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="toStreamId" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax293="http://internal.admin.builder.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.builder.event.carbon.wso2.org">
            <xs:import namespace="http://internal.admin.builder.event.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="undeployInactiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployActiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setTraceEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="traceEnabled" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStatisticsEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="statisticsEnabled" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveEventBuilderConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveEventBuilderConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventBuilderMessageProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inputEventAdaptorName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventBuilderMessagePropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax292:EventBuilderMessagePropertyDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStreamSpecificActiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStreamSpecificActiveEventBuilderConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax292:EventBuilderConfigurationDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveEventBuilderConfigurations">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveEventBuilderConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax292:EventBuilderConfigurationFileDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveEventBuilderConfigurations">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveEventBuilderConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax292:EventBuilderConfigurationInfoDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventBuilderConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventBuilderConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventBuilderConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax292:EventBuilderConfigurationDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editInactiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventBuilderConfigXml" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editActiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="originalEventBuilderName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventBuilderConfigXml" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployXmlEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorType" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="xpathExpressions" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inputPropertyConfiguration" nillable="true" type="ax292:PropertyDto"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="xpathDefinitions" nillable="true" type="ax292:PropertyDto"></xs:element>
                        <xs:element minOccurs="0" name="parentSelectorXpath" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployWso2EventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorType" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="metaData" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationData" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadData" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inputPropertyConfiguration" nillable="true" type="ax292:PropertyDto"></xs:element>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployTextEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorType" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="textMappingAttributes" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inputPropertyConfiguration" nillable="true" type="ax292:PropertyDto"></xs:element>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployMapEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorType" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="mappingProperties" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inputPropertyConfiguration" nillable="true" type="ax292:PropertyDto"></xs:element>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployJsonEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventAdaptorType" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="jsonPathExpressions" nillable="true" type="ax292:EventInputPropertyConfigurationDto"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inputPropertyConfiguration" nillable="true" type="ax292:PropertyDto"></xs:element>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderConfigXml" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployDefaultEventReceiver">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deployXmlEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployXmlEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployXmlEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="deployJsonEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployJsonEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployJsonEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="deployMapEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployMapEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployMapEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="getInactiveEventBuilderConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getInactiveEventBuilderConfigurationContent"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getInactiveEventBuilderConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getInactiveEventBuilderConfigurationContentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setTraceEnabledRequest">
        <wsdl:part name="parameters" element="ns:setTraceEnabled"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setTraceEnabledResponse"></wsdl:message>
    <wsdl:message name="undeployActiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployActiveEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="undeployActiveEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="deployTextEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployTextEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployTextEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="getAllActiveEventBuilderConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:getAllActiveEventBuilderConfigurations"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllActiveEventBuilderConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:getAllActiveEventBuilderConfigurationsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllStreamSpecificActiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getAllStreamSpecificActiveEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllStreamSpecificActiveEventBuilderConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getAllStreamSpecificActiveEventBuilderConfigurationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledRequest">
        <wsdl:part name="parameters" element="ns:setStatisticsEnabled"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledResponse"></wsdl:message>
    <wsdl:message name="editInactiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editInactiveEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="editInactiveEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="getEventBuilderMessagePropertiesRequest">
        <wsdl:part name="parameters" element="ns:getEventBuilderMessageProperties"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEventBuilderMessagePropertiesResponse">
        <wsdl:part name="parameters" element="ns:getEventBuilderMessagePropertiesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployWso2EventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployWso2EventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployWso2EventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="deployDefaultEventReceiverRequest">
        <wsdl:part name="parameters" element="ns:deployDefaultEventReceiver"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployDefaultEventReceiverResponse"></wsdl:message>
    <wsdl:message name="getActiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getActiveEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getActiveEventBuilderConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getActiveEventBuilderConfigurationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllInactiveEventBuilderConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:getAllInactiveEventBuilderConfigurations"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllInactiveEventBuilderConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:getAllInactiveEventBuilderConfigurationsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="undeployInactiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployInactiveEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="undeployInactiveEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="getActiveEventBuilderConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getActiveEventBuilderConfigurationContent"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getActiveEventBuilderConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getActiveEventBuilderConfigurationContentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:message name="editActiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editActiveEventBuilderConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="editActiveEventBuilderConfigurationResponse"></wsdl:message>
    <wsdl:portType name="EventBuilderAdminServicePortType">
        <wsdl:operation name="deployXmlEventBuilderConfiguration">
            <wsdl:input message="ns:deployXmlEventBuilderConfigurationRequest" wsaw:Action="urn:deployXmlEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:deployXmlEventBuilderConfigurationResponse" wsaw:Action="urn:deployXmlEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployJsonEventBuilderConfiguration">
            <wsdl:input message="ns:deployJsonEventBuilderConfigurationRequest" wsaw:Action="urn:deployJsonEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:deployJsonEventBuilderConfigurationResponse" wsaw:Action="urn:deployJsonEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployMapEventBuilderConfiguration">
            <wsdl:input message="ns:deployMapEventBuilderConfigurationRequest" wsaw:Action="urn:deployMapEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:deployMapEventBuilderConfigurationResponse" wsaw:Action="urn:deployMapEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveEventBuilderConfigurationContent">
            <wsdl:input message="ns:getInactiveEventBuilderConfigurationContentRequest" wsaw:Action="urn:getInactiveEventBuilderConfigurationContent"></wsdl:input>
            <wsdl:output message="ns:getInactiveEventBuilderConfigurationContentResponse" wsaw:Action="urn:getInactiveEventBuilderConfigurationContentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTraceEnabled">
            <wsdl:input message="ns:setTraceEnabledRequest" wsaw:Action="urn:setTraceEnabled"></wsdl:input>
            <wsdl:output message="ns:setTraceEnabledResponse" wsaw:Action="urn:setTraceEnabledResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveEventBuilderConfiguration">
            <wsdl:input message="ns:undeployActiveEventBuilderConfigurationRequest" wsaw:Action="urn:undeployActiveEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:undeployActiveEventBuilderConfigurationResponse" wsaw:Action="urn:undeployActiveEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployTextEventBuilderConfiguration">
            <wsdl:input message="ns:deployTextEventBuilderConfigurationRequest" wsaw:Action="urn:deployTextEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:deployTextEventBuilderConfigurationResponse" wsaw:Action="urn:deployTextEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventBuilderConfigurations">
            <wsdl:input message="ns:getAllActiveEventBuilderConfigurationsRequest" wsaw:Action="urn:getAllActiveEventBuilderConfigurations"></wsdl:input>
            <wsdl:output message="ns:getAllActiveEventBuilderConfigurationsResponse" wsaw:Action="urn:getAllActiveEventBuilderConfigurationsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventBuilderConfiguration">
            <wsdl:input message="ns:getAllStreamSpecificActiveEventBuilderConfigurationRequest" wsaw:Action="urn:getAllStreamSpecificActiveEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:getAllStreamSpecificActiveEventBuilderConfigurationResponse" wsaw:Action="urn:getAllStreamSpecificActiveEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <wsdl:input message="ns:setStatisticsEnabledRequest" wsaw:Action="urn:setStatisticsEnabled"></wsdl:input>
            <wsdl:output message="ns:setStatisticsEnabledResponse" wsaw:Action="urn:setStatisticsEnabledResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventBuilderConfiguration">
            <wsdl:input message="ns:editInactiveEventBuilderConfigurationRequest" wsaw:Action="urn:editInactiveEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:editInactiveEventBuilderConfigurationResponse" wsaw:Action="urn:editInactiveEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventBuilderMessageProperties">
            <wsdl:input message="ns:getEventBuilderMessagePropertiesRequest" wsaw:Action="urn:getEventBuilderMessageProperties"></wsdl:input>
            <wsdl:output message="ns:getEventBuilderMessagePropertiesResponse" wsaw:Action="urn:getEventBuilderMessagePropertiesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployWso2EventBuilderConfiguration">
            <wsdl:input message="ns:deployWso2EventBuilderConfigurationRequest" wsaw:Action="urn:deployWso2EventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:deployWso2EventBuilderConfigurationResponse" wsaw:Action="urn:deployWso2EventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployDefaultEventReceiver">
            <wsdl:input message="ns:deployDefaultEventReceiverRequest" wsaw:Action="urn:deployDefaultEventReceiver"></wsdl:input>
            <wsdl:output message="ns:deployDefaultEventReceiverResponse" wsaw:Action="urn:deployDefaultEventReceiverResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfiguration">
            <wsdl:input message="ns:getActiveEventBuilderConfigurationRequest" wsaw:Action="urn:getActiveEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:getActiveEventBuilderConfigurationResponse" wsaw:Action="urn:getActiveEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventBuilderConfigurations">
            <wsdl:input message="ns:getAllInactiveEventBuilderConfigurationsRequest" wsaw:Action="urn:getAllInactiveEventBuilderConfigurations"></wsdl:input>
            <wsdl:output message="ns:getAllInactiveEventBuilderConfigurationsResponse" wsaw:Action="urn:getAllInactiveEventBuilderConfigurationsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventBuilderConfiguration">
            <wsdl:input message="ns:undeployInactiveEventBuilderConfigurationRequest" wsaw:Action="urn:undeployInactiveEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:undeployInactiveEventBuilderConfigurationResponse" wsaw:Action="urn:undeployInactiveEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfigurationContent">
            <wsdl:input message="ns:getActiveEventBuilderConfigurationContentRequest" wsaw:Action="urn:getActiveEventBuilderConfigurationContent"></wsdl:input>
            <wsdl:output message="ns:getActiveEventBuilderConfigurationContentResponse" wsaw:Action="urn:getActiveEventBuilderConfigurationContentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventBuilderConfiguration">
            <wsdl:input message="ns:deployEventBuilderConfigurationRequest" wsaw:Action="urn:deployEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:deployEventBuilderConfigurationResponse" wsaw:Action="urn:deployEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventBuilderConfiguration">
            <wsdl:input message="ns:editActiveEventBuilderConfigurationRequest" wsaw:Action="urn:editActiveEventBuilderConfiguration"></wsdl:input>
            <wsdl:output message="ns:editActiveEventBuilderConfigurationResponse" wsaw:Action="urn:editActiveEventBuilderConfigurationResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventBuilderAdminServiceSoap11Binding" type="ns:EventBuilderAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="deployXmlEventBuilderConfiguration">
            <soap:operation soapAction="urn:deployXmlEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployJsonEventBuilderConfiguration">
            <soap:operation soapAction="urn:deployJsonEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployMapEventBuilderConfiguration">
            <soap:operation soapAction="urn:deployMapEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveEventBuilderConfigurationContent">
            <soap:operation soapAction="urn:getInactiveEventBuilderConfigurationContent" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTraceEnabled">
            <soap:operation soapAction="urn:setTraceEnabled" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:undeployActiveEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployTextEventBuilderConfiguration">
            <soap:operation soapAction="urn:deployTextEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventBuilderConfigurations">
            <soap:operation soapAction="urn:getAllActiveEventBuilderConfigurations" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:getAllStreamSpecificActiveEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:editInactiveEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap:operation soapAction="urn:setStatisticsEnabled" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventBuilderMessageProperties">
            <soap:operation soapAction="urn:getEventBuilderMessageProperties" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployWso2EventBuilderConfiguration">
            <soap:operation soapAction="urn:deployWso2EventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployDefaultEventReceiver">
            <soap:operation soapAction="urn:deployDefaultEventReceiver" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:getActiveEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventBuilderConfigurations">
            <soap:operation soapAction="urn:getAllInactiveEventBuilderConfigurations" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:undeployInactiveEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventBuilderConfiguration">
            <soap:operation soapAction="urn:deployEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfigurationContent">
            <soap:operation soapAction="urn:getActiveEventBuilderConfigurationContent" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:editActiveEventBuilderConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventBuilderAdminServiceSoap12Binding" type="ns:EventBuilderAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="deployXmlEventBuilderConfiguration">
            <soap12:operation soapAction="urn:deployXmlEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployJsonEventBuilderConfiguration">
            <soap12:operation soapAction="urn:deployJsonEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployMapEventBuilderConfiguration">
            <soap12:operation soapAction="urn:deployMapEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveEventBuilderConfigurationContent">
            <soap12:operation soapAction="urn:getInactiveEventBuilderConfigurationContent" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTraceEnabled">
            <soap12:operation soapAction="urn:setTraceEnabled" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:undeployActiveEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployTextEventBuilderConfiguration">
            <soap12:operation soapAction="urn:deployTextEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventBuilderConfigurations">
            <soap12:operation soapAction="urn:getAllActiveEventBuilderConfigurations" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:getAllStreamSpecificActiveEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:editInactiveEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap12:operation soapAction="urn:setStatisticsEnabled" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventBuilderMessageProperties">
            <soap12:operation soapAction="urn:getEventBuilderMessageProperties" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployWso2EventBuilderConfiguration">
            <soap12:operation soapAction="urn:deployWso2EventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployDefaultEventReceiver">
            <soap12:operation soapAction="urn:deployDefaultEventReceiver" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:getActiveEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventBuilderConfigurations">
            <soap12:operation soapAction="urn:getAllInactiveEventBuilderConfigurations" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:undeployInactiveEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventBuilderConfiguration">
            <soap12:operation soapAction="urn:deployEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfigurationContent">
            <soap12:operation soapAction="urn:getActiveEventBuilderConfigurationContent" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:editActiveEventBuilderConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventBuilderAdminServiceHttpBinding" type="ns:EventBuilderAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="deployXmlEventBuilderConfiguration">
            <http:operation location="deployXmlEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployJsonEventBuilderConfiguration">
            <http:operation location="deployJsonEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployMapEventBuilderConfiguration">
            <http:operation location="deployMapEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveEventBuilderConfigurationContent">
            <http:operation location="getInactiveEventBuilderConfigurationContent"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTraceEnabled">
            <http:operation location="setTraceEnabled"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveEventBuilderConfiguration">
            <http:operation location="undeployActiveEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployTextEventBuilderConfiguration">
            <http:operation location="deployTextEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventBuilderConfigurations">
            <http:operation location="getAllActiveEventBuilderConfigurations"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventBuilderConfiguration">
            <http:operation location="getAllStreamSpecificActiveEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventBuilderConfiguration">
            <http:operation location="editInactiveEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <http:operation location="setStatisticsEnabled"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventBuilderMessageProperties">
            <http:operation location="getEventBuilderMessageProperties"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployWso2EventBuilderConfiguration">
            <http:operation location="deployWso2EventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployDefaultEventReceiver">
            <http:operation location="deployDefaultEventReceiver"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfiguration">
            <http:operation location="getActiveEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventBuilderConfigurations">
            <http:operation location="getAllInactiveEventBuilderConfigurations"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventBuilderConfiguration">
            <http:operation location="undeployInactiveEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventBuilderConfiguration">
            <http:operation location="deployEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfigurationContent">
            <http:operation location="getActiveEventBuilderConfigurationContent"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventBuilderConfiguration">
            <http:operation location="editActiveEventBuilderConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventBuilderAdminService">
        <wsdl:port name="EventBuilderAdminServiceHttpsSoap11Endpoint" binding="ns:EventBuilderAdminServiceSoap11Binding">
            <soap:address location="https://10.100.0.97:9443/services/EventBuilderAdminService.EventBuilderAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="EventBuilderAdminServiceHttpsSoap12Endpoint" binding="ns:EventBuilderAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.0.97:9443/services/EventBuilderAdminService.EventBuilderAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="EventBuilderAdminServiceHttpsEndpoint" binding="ns:EventBuilderAdminServiceHttpBinding">
            <http:address location="https://10.100.0.97:9443/services/EventBuilderAdminService.EventBuilderAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>