components/execution-manager/org.wso2.carbon.event.execution.manager.stub/src/main/resources/ExecutionManagerAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://core.manager.execution.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax292="http://dto.core.manager.execution.event.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://core.manager.execution.event.carbon.wso2.org">
    <wsdl:documentation>ExecutionManagerAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.core.manager.execution.event.carbon.wso2.org/xsd">
            <xs:complexType name="ConfigDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="ax292:ParameterDTO"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ParameterDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DomainConfigInfoDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="configurations" nillable="true" type="ax292:ConfigDTO"></xs:element>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="streams" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax293="http://dto.core.manager.execution.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.manager.execution.event.carbon.wso2.org">
            <xs:import namespace="http://dto.core.manager.execution.event.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="saveTemplateConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="configuration" nillable="true" type="ax292:ConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax292:DomainConfigInfoDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTemplateDomains">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTemplateDomainsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax292:DomainConfigInfoDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTemplateConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="configName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="saveTemplateConfigRequest">
        <wsdl:part name="parameters" element="ns:saveTemplateConfig"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTemplateDomainRequest">
        <wsdl:part name="parameters" element="ns:getTemplateDomain"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTemplateDomainResponse">
        <wsdl:part name="parameters" element="ns:getTemplateDomainResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTemplateConfigRequest">
        <wsdl:part name="parameters" element="ns:deleteTemplateConfig"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllTemplateDomainsRequest">
        <wsdl:part name="parameters" element="ns:getAllTemplateDomains"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllTemplateDomainsResponse">
        <wsdl:part name="parameters" element="ns:getAllTemplateDomainsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ExecutionManagerAdminServicePortType">
        <wsdl:operation name="saveTemplateConfig">
            <wsdl:input message="ns:saveTemplateConfigRequest" wsaw:Action="urn:saveTemplateConfig"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplateDomain">
            <wsdl:input message="ns:getTemplateDomainRequest" wsaw:Action="urn:getTemplateDomain"></wsdl:input>
            <wsdl:output message="ns:getTemplateDomainResponse" wsaw:Action="urn:getTemplateDomainResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTemplateConfig">
            <wsdl:input message="ns:deleteTemplateConfigRequest" wsaw:Action="urn:deleteTemplateConfig"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllTemplateDomains">
            <wsdl:input message="ns:getAllTemplateDomainsRequest" wsaw:Action="urn:getAllTemplateDomains"></wsdl:input>
            <wsdl:output message="ns:getAllTemplateDomainsResponse" wsaw:Action="urn:getAllTemplateDomainsResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExecutionManagerAdminServiceSoap11Binding" type="ns:ExecutionManagerAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="saveTemplateConfig">
            <soap:operation soapAction="urn:saveTemplateConfig" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplateDomain">
            <soap:operation soapAction="urn:getTemplateDomain" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTemplateConfig">
            <soap:operation soapAction="urn:deleteTemplateConfig" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllTemplateDomains">
            <soap:operation soapAction="urn:getAllTemplateDomains" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExecutionManagerAdminServiceSoap12Binding" type="ns:ExecutionManagerAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="saveTemplateConfig">
            <soap12:operation soapAction="urn:saveTemplateConfig" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplateDomain">
            <soap12:operation soapAction="urn:getTemplateDomain" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTemplateConfig">
            <soap12:operation soapAction="urn:deleteTemplateConfig" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllTemplateDomains">
            <soap12:operation soapAction="urn:getAllTemplateDomains" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExecutionManagerAdminServiceHttpBinding" type="ns:ExecutionManagerAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="saveTemplateConfig">
            <http:operation location="saveTemplateConfig"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplateDomain">
            <http:operation location="getTemplateDomain"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTemplateConfig">
            <http:operation location="deleteTemplateConfig"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllTemplateDomains">
            <http:operation location="getAllTemplateDomains"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ExecutionManagerAdminService">
        <wsdl:port name="ExecutionManagerAdminServiceHttpsSoap11Endpoint" binding="ns:ExecutionManagerAdminServiceSoap11Binding">
            <soap:address location="https://10.100.5.159:9443/services/ExecutionManagerAdminService.ExecutionManagerAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ExecutionManagerAdminServiceHttpsSoap12Endpoint" binding="ns:ExecutionManagerAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.5.159:9443/services/ExecutionManagerAdminService.ExecutionManagerAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ExecutionManagerAdminServiceHttpsEndpoint" binding="ns:ExecutionManagerAdminServiceHttpBinding">
            <http:address location="https://10.100.5.159:9443/services/ExecutionManagerAdminService.ExecutionManagerAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>